.main-title {
    color: #87C7DE;
    font-size: 18px;
    font-weight: bold;
}

.second-title {
    font-size: 15px;
    font-weight: bold;
}

.li-alpha{
	list-style: lower-alpha;
}
.main-heading{
	color: #000;
    font-size: 28px;
    font-weight: bold;
}